<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Contra.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
    <userSettings>
        <Contra.Properties.Settings>
            <setting name="LangEN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LangRU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MusicNew" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MusicStandard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VoNew" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VoStandard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Quickstart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Windowed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenPicDef" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenPicGoo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Fog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Flag_GB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Flag_RU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Flag_UA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Flag_BG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LangF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Res" serializeAs="String">
                <value />
            </setting>
            <setting name="IP_Label" serializeAs="String">
                <value />
            </setting>
            <setting name="Flag_DE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HeatEffects" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WaterEffects" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LeikezeHotkeys" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LegacyHotkeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Shadows3D" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableDynamicLOD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ParticleCap" serializeAs="String">
                <value />
            </setting>
            <setting name="Anisotropic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ControlBarPro" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ControlBarContra" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CameosDouble" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CameosStandard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ControlBarStandard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExtraBuildingProps" serializeAs="String">
                <value>True</value>
            </setting>
        </Contra.Properties.Settings>
    </userSettings>
</configuration>
